# Barrowed from bat
name: Changlelog
on:
  workflow_dispatch:
  pull_request:
jobs:
  check-changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Fetch Base
        run: git fetch --no-tags --prune --depth=1 origin
      - name: Get PR Submitter
        id: get-submitter
        run: curl -sSfL https://api.github.com/repos/sharkdp/bat/pulls/${PR_NUMBER} | jq -r '"submitter=" + .user.login' | tee -a $GITHUB_OUTPUT
      - name: Check Changelog
        env:
          PR_SUBMITTER: ${{ steps.get-submitter.outputs.submitter }}
        run: |
          ADDED=$(git diff -U0 "origin/${PR_BASE}" HEAD -- CHANGELOG.md | grep -P '^\+[^\+].+$')
          echo "Added lines in CHANGELOG.md:"
          echo "$ADDED"
          echo "Grepping for PR info (see CONTRIBUTING.md):"
          grep "#${PR_NUMBER}\\b.*${PR_SUBMITTER}\\b" <<< "$ADDED"
          # TODO: Implement converting PR #s to links automatically. Should this be done here or on release?
          #sed -Ei 's|#([0-9]+)[[:space:]]+\(@(.+)\)|[#\1](https://github.com/chadeldridge/project-name/pull/\1) \(@\2\)|g' CHANGELOG.md
